@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Comic Neue', cursive; /* Apply Comic Neue font to the entire body */
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0 20px; /* Reduce padding from 20px to 13px to decrease height */
    box-sizing: border-box;
}

.project-name {
    font-size: 60px;
    color: #3726cb;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button-container {
    display: flex;
    gap: 10px; /* Add space between buttons */
}

.profile-button{
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    background-color : transparent;
    padding: 8px 20px;
    color: #3726cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: font-size 0.3s; 
}

.logout-button{
    font-size: 25px;
    padding: 8px 20px;
    background-color : transparent;
    color: #3726cb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: font-size 0.3s;
}

.profile-button:hover,
.logout-button:hover{
    font-size: 30px; /* Increase font size on hover */
}

.content {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Required for pseudo-element positioning */
    background: rgba(255, 255, 255, 0); /* Background color with transparency */
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%),
        url('/images/main_back.webp') center center / cover no-repeat;
    z-index: -1; /* Place the background image behind the content */
}

.content .heading {
    font-size: 50px;
    color: #3726cb;
    margin-bottom: 10px;
}

.content .subheading {
    font-size: 25px;
    margin-bottom: 40px; /* Increase margin for more space */
    font-family: 'Jua', sans-serif; /* Apply Jua font */
}

.content .start-button {
    font-size: 40px;
    padding: 15px 40px; /* Ensure the button keeps its original size */
    background-color: #4978dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
    animation: pulsate 1.5s infinite, blink 3s infinite;
}

.content .start-button:hover {
    background-color: #2b59bc;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.content .popular-hobbies {
    margin-top: 100px; /* Increase margin for more space */
    font-size: 30px;
    font-family: 'Jua', sans-serif; /* Apply Jua font */
}

.content .carousel {
    padding: 10px;
    width: 75%; /* Reduce width to 3/4 */
    margin-left: auto;
    margin-right: auto; /* Center the carousel */
    position: relative; /* For absolute positioning of controls */
    overflow: hidden; /* Ensure overflow is hidden to avoid images being cut off */
}

.carousel-item .row {
    display: flex;
    justify-content: space-between; /* Ensure space between images */
    flex-wrap: nowrap; /* Ensure images stay on the same line */
}

.carousel-item .col-md-4 {
    flex: 1 0 30%; /* Ensure each column takes up roughly 1/3 of the row */
    max-width: 30%; /* Ensure each column takes up roughly 1/3 of the row */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Remove padding */
}

.carousel-item img {
    display: block;
    width: 40px; /* Set image width to 40px */
    height: auto;
    margin: 5px; /* Remove margin */
    border-radius: 15px; /* Increase border radius for rounder corners */
    object-fit: contain; /* Ensure the image fits within its container without being cut off */
}

.hobby-id {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0; /* No extra space below the hobby_id */
    font-family: 'Jua', sans-serif; /* Apply Jua font */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Set the arrow color to black */
}

.carousel-control-prev {
    left: -120px; /* Move prev button to the left of the carousel */
}

.carousel-control-next {
    right: -120px; /* Move next button to the right of the carousel */
}
