/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

/* Header styles */
header {
    background-color: #FF7F50; /* 포인트 색상 */
    color: white;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

.logout-btn,
.profile-btn {
    background-color: white;
    color: #FF7F50; /* 포인트 색상 */
    border: 1px solid white;
    padding: 10px 20px; /* 조정된 패딩값 */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px; /* 로그인 버튼과 버튼 사이 여백 조정 */
}

.logout-btn:hover,
.profile-btn:hover {
    background-color: #FF7F50; /* 포인트 색상 */
    color: white;
}

/* Main styles */
main {
    padding: 20px;
    text-align: center;
}

/* Intro section styles */
.intro h2 {
    color: #FF7F50; /* 포인트 색상 */
    margin-bottom: 10px;
}

.intro p {
    margin-bottom: 20px;
}

.start-btn {
    background-color: #FF7F50; /* 포인트 색상 */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.start-btn:hover {
    background-color: #e6733b;
    transform: scale(1.05);
}

/* Recommendations section styles */
.recommendations h2 {
    color: #FF7F50; /* 포인트 색상 */
    margin-bottom: 20px;
}

.hobby-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hobby-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hobby-item {
    width: calc(33.333% - 15%);
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hobby-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hobby-item p {
    margin: 10px 0 0;
    color: #666;
}

/* Footer styles */
footer {
    background-color: #FF7F50; /* 포인트 색상 */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
