body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #FF7940; /* 최상단 배경색 주황색 */
    color: #fff; /* 글자색 흰색 */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

main {
    padding: 20px;
    background-color: #fff; /* 추가된 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 10px; /* 테두리 반경 */
}

#search-result {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color : #FF7940;
}

#map-container {
    width: 60%;
    height: 60vh; /* 높이 변경 */
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #FF7940; /* 주황색 */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc6400; /* 어두운 주황색 */
}

footer {
    background-color: #FF7940; /* 최하단 배경색 주황색 */
    color: #fff; /* 글자색 흰색 */
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header, footer {
        text-align: center;
    }

    button {
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    #map-container {
        width: 100%; /* 모바일에서는 가로 100% 유지 */
        height: 60vh; /* 세로 높이 변경 */
    }
}

.custom-info-window {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
    max-width: 200px;
    border: none;
}

.custom-info-window .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #FF7940; /* 주황색 글자 */
}

.custom-info-window .address, .custom-info-window .category {
    margin-top: 5px;
}

.custom-info-window .category {
    font-style: italic;
    color: #555; /* 회색 글자 */
}
